<html>
  <head>
    <style>
      body {
      text-align: center
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
    <title>Add image</title>
  </head>
  <body>
  <form action="/adding/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Add">
  </form>
  <footer>
      <p>Project created by <a href="http://raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</html>

