<html>
  <head>
    <style>
      body {
      text-align: center;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
    <title>welcome {{name}}</title>
  </head>
  <body>
    <h4>Welcome {{name}}!</h4>
    <p>
      <a href="logout/">Log Out</a><br>
      <a href="view/">View albums</a><br>
    </p>
    <footer>
      <p>Project created by <a href="http://raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</head>
