<html>
  <head>
    <title>Login</title>
    <style>
      body {
      text-align: center;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
  </head>
  <body>
    <h4>Login</h4>
    <form action="/loginOwO/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Login">
    </form>
    <footer>
      <p>Project created by <a href="raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</html>

