<html>
  <head>
    <style>
      body {
      text-align:center;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
  </head>
  <title>Welcome</title>
  <body>
    <h4>Welcome</h4>
    <p>Welcome, Before you can use this site, please <a href="login/">Login</a> or <a href="signup/">Signup</a></p><br>
    {% if user.is_superuser %}
    <p>Hey {{user}}, here is the <a href="admin/">Admin Console</a></p>
    {% endif %}
    <footer>
      <p>Project created by <a href="http://raccoondude.com"/>Raccoondude</a></p>
</footer>
</body>
</html>
