<html>
  <head>
    <style>
      body {
      text-align: center;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
    <title>Sign up</title>
  </head>
  <body>
    <h4>Sign up</h4>
    <form action="/signupOwO/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Sign up">
    </form>
    <footer>
      <p>Project created by <a href="http://raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</html>

    
  
