<html>
  <head>
    <style>
      body {
      text-align: center;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
    <title>Welcome {{name}}</title>
  </head>
  <body>
    <h4>Welcome {{name}}</h4>
    <p>Your ID is {{ID}}, you will use it to login rather than your username<br><a href="/">Go back</a></p>
    <footer>
      <p>Project created by <a href="http://raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</html>
