<html>
  <head>
    <style>
      body {
      text-align: center;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
    <title>Albums</title>
  </head>
  <body>
    <h4>ablum list</h4>
    <p><a href="/">Go back</a></p>
    {% if album_list %}
    {% for Album in album_list %}
    <p><a href="/view/{{Album.Album_ID}}">{{Album.Album_name}}</a></p>
    {% endfor %}
    {% endif %}
    <footer>
      <p>Project created by <a href="http://raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</html>

    
