<html>
  <head>
    <title>{{OwO.Album_name}}</title>
    <style>
      body {
      text-align: center;
      }
      div {
      margin-top: 50px;
      border-style: solid;
      }
      img {
      height: 200px;
      width: 200px;
      }
      footer {
       position: fixed;
      bottom: 0;
      }
    </style>
  </head>
  <body>
    <h4>{{OwO.Album_name}}</h4>
    <p><a href="/add/{{OwO.Album_ID}}">Add to this album</a></p>
    <p><a href="/view/">Go Back</a></p>
    {% if image_list %}
    {% for Image in image_list %}
    <div>
      <p>{{Image.Image_name}}</p>
      <img src="/media/{{Image.Image_img}}">
    </div>
    {% endfor %}
    {% else %}
    <p>No images</p>
    {% endif %}
    <footer>
      <p>Project created by <a href="http://raccoondude.com"/>Raccoondude</a></p>
</footer>
  </body>
</html>

